In [1]:
import pandas as pd
import numpy as np

from pathlib import Path

In [2]:
raw_files_directory = Path("raw_data/data_files/")
example_raw_file = "CLIMAT_RAW_200303.txt"

## Read stations list

In [3]:
stations_file = "stations_list_CLIMAT_data.txt"

In [4]:
!wc -l stations_list_CLIMAT_data.txt

    4399 stations_list_CLIMAT_data.txt

In [5]:
!tail -10 stations_list_CLIMAT_data.txt



In [6]:
!head -10 stations_list_CLIMAT_data.txt

In [7]:
stations_df = pd.read_csv(stations_file, sep=';', encoding='unicode_escape')
stations_df

,WMO-Station ID,StationName,Latitude,Longitude,Height,Country
0,01001,Jan Mayen,70.94,-08.67,9,Norway
1,01005,Isfjord Radio,78.06,13.63,9,Norway
2,01007,Ny-Alesund,78.92,11.93,8,Norway
3,01008,Svalbard,78.25,15.50,27,Norway
4,01025,Tromso/Langnes,69.68,18.91,9,Norway
...,...,...,...,...,...,...
4394,99080,unknown station,,,,...
4395,99090,unknown station,,,,...
4396,99092,unknown station,,,,...
4397,99113,unknown station,,,,...
4398,,NaN,NaN,NaN,NaN,NaN

In [8]:
stations_df.columns = [col.strip() for col in list(stations_df.columns)]
stations_df.columns

Index(['WMO-Station ID', 'StationName', 'Latitude', 'Longitude', 'Height',
       'Country'],
      dtype='object')

In [9]:
stations_df.describe()

,WMO-Station ID,StationName,Latitude,Longitude,Height,Country
count,4399,4398,4398,4398,4398,4398
unique,4399,4261,4247,3839,1262,205
top,01001,unknown station,,,3,United States of America
freq,1,42,42,49,90,346

In [10]:
numerical_columns = ['Latitude', 'Longitude', 'Height']
for numerical_column in numerical_columns:
    stations_df[numerical_column] = pd.to_numeric(stations_df[numerical_column].str.strip())

stations_df.dtypes

WMO-Station ID     object
StationName        object
Latitude          float64
Longitude         float64
Height            float64
Country            object
dtype: object

In [11]:
stations_df.describe()

          Latitude    Longitude       Height
count  4349.000000  4349.000000  4349.000000
mean     20.981856    15.188876   387.922281
std      33.372126    78.412486   598.065947
min     -90.000000  -179.970000  -350.000000
25%      -2.170000   -57.090000    27.000000
50%      31.330000    14.650000   136.000000
75%      47.010000    70.520000   475.000000
max      83.660000   179.750000  4670.000000

In [12]:
stations_df.dtypes

WMO-Station ID     object
StationName        object
Latitude          float64
Longitude         float64
Height            float64
Country            object
dtype: object

In [13]:
string_columns = ['StationName', 'Country']
for string_column in string_columns:
    stations_df[string_column] = stations_df[string_column].str.strip()

In [14]:
stations_df['StationName'].unique()

array(['Jan Mayen', 'Isfjord Radio', 'Ny-Alesund', ..., 'Zamboanga',
       'General Santos', nan], dtype=object)

## Read a sample data file

In [15]:
! head -3 raw_data/data_files/CLIMAT_RAW_202107.txt

In [16]:
example_raw_file = "CLIMAT_RAW_202107.txt"
sample_raw_file_df = pd.read_csv(raw_files_directory / example_raw_file, sep=';')

sample_raw_file_df

,year,month,IIiii,G1,Po,G1.1,P,G1.2,sn,T,...,iw,fx,yfx,G4.6,Dts,Dgr,G4.7,iy,Gx,Gn
0,2021,7.0,1001.0,1.0,10095.0,2.0,10107.0,3.0,0.0,69.0,...,1.0,376.0,1.0,6.0,0.0,0.0,7.0,2.0,18.0,18.0
1,2021,7.0,1007.0,1.0,10048.0,2.0,10057.0,3.0,0.0,55.0,...,1.0,151.0,51.0,6.0,0.0,0.0,7.0,2.0,18.0,18.0
2,2021,7.0,1008.0,1.0,10022.0,2.0,10056.0,3.0,0.0,62.0,...,1.0,150.0,30.0,6.0,0.0,0.0,7.0,2.0,18.0,18.0
3,2021,7.0,1025.0,1.0,10096.0,2.0,10107.0,3.0,0.0,117.0,...,1.0,190.0,15.0,NaN,NaN,NaN,7.0,2.0,18.0,18.0
4,2021,7.0,1026.0,1.0,9968.0,2.0,10106.0,3.0,0.0,120.0,...,1.0,163.0,16.0,6.0,0.0,0.0,7.0,2.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2775,2021,7.0,98653.0,1.0,10035.0,2.0,10080.0,3.0,0.0,291.0,...,1.0,160.0,23.0,6.0,3.0,0.0,NaN,NaN,NaN,NaN
2776,2021,7.0,98755.0,1.0,10078.0,2.0,10082.0,3.0,0.0,291.0,...,1.0,120.0,4.0,6.0,10.0,0.0,NaN,NaN,NaN,NaN
2777,2021,7.0,98836.0,1.0,10081.0,2.0,10089.0,3.0,0.0,291.0,...,1.0,140.0,16.0,6.0,3.0,0.0,NaN,NaN,NaN,NaN
2778,2021,7.0,98851.0,1.0,9940.0,2.0,10089.0,3.0,0.0,266.0,...,1.0,120.0,28.0,6.0,7.0,0.0,NaN,NaN,NaN,NaN
2779,\c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
sample_raw_file_df = sample_raw_file_df.dropna(subset=['IIiii'])
sample_raw_file_df['IIiii'] = sample_raw_file_df['IIiii'].astype(int)
sample_raw_file_df = sample_raw_file_df.rename(columns={'IIiii': 'WMO-Station ID'})
sample_raw_file_df

/var/folders/1n/lhjq9dqn7958502nz6_2w5bc0000gn/T/ipykernel_88920/2036171757.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_raw_file_df['IIiii'] = sample_raw_file_df['IIiii'].astype(int)

,year,month,WMO-Station ID,G1,Po,G1.1,P,G1.2,sn,T,...,iw,fx,yfx,G4.6,Dts,Dgr,G4.7,iy,Gx,Gn
0,2021,7.0,1001,1.0,10095.0,2.0,10107.0,3.0,0.0,69.0,...,1.0,376.0,1.0,6.0,0.0,0.0,7.0,2.0,18.0,18.0
1,2021,7.0,1007,1.0,10048.0,2.0,10057.0,3.0,0.0,55.0,...,1.0,151.0,51.0,6.0,0.0,0.0,7.0,2.0,18.0,18.0
2,2021,7.0,1008,1.0,10022.0,2.0,10056.0,3.0,0.0,62.0,...,1.0,150.0,30.0,6.0,0.0,0.0,7.0,2.0,18.0,18.0
3,2021,7.0,1025,1.0,10096.0,2.0,10107.0,3.0,0.0,117.0,...,1.0,190.0,15.0,NaN,NaN,NaN,7.0,2.0,18.0,18.0
4,2021,7.0,1026,1.0,9968.0,2.0,10106.0,3.0,0.0,120.0,...,1.0,163.0,16.0,6.0,0.0,0.0,7.0,2.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2774,2021,7.0,98646,1.0,10052.0,2.0,10080.0,3.0,0.0,293.0,...,1.0,200.0,22.0,6.0,8.0,0.0,NaN,NaN,NaN,NaN
2775,2021,7.0,98653,1.0,10035.0,2.0,10080.0,3.0,0.0,291.0,...,1.0,160.0,23.0,6.0,3.0,0.0,NaN,NaN,NaN,NaN
2776,2021,7.0,98755,1.0,10078.0,2.0,10082.0,3.0,0.0,291.0,...,1.0,120.0,4.0,6.0,10.0,0.0,NaN,NaN,NaN,NaN
2777,2021,7.0,98836,1.0,10081.0,2.0,10089.0,3.0,0.0,291.0,...,1.0,140.0,16.0,6.0,3.0,0.0,NaN,NaN,NaN,NaN
2778,2021,7.0,98851,1.0,9940.0,2.0,10089.0,3.0,0.0,266.0,...,1.0,120.0,28.0,6.0,7.0,0.0,NaN,NaN,NaN,NaN

In [18]:
column_names = sample_raw_file_df.columns
updated_column_names = []
for idx, col in enumerate(column_names):
    if col.startswith('sn'):
        col = 'sn_' + column_names[idx + 1]

    updated_column_names.append(col)
sample_raw_file_df.columns = updated_column_names
sample_raw_file_df.columns

Index(['year', 'month', 'WMO-Station ID', 'G1', 'Po', 'G1.1', 'P', 'G1.2',
       'sn_T', 'T',
       ...
       'iw', 'fx', 'yfx', 'G4.6', 'Dts', 'Dgr', 'G4.7', 'iy', 'Gx', 'Gn'],
      dtype='object', length=127)

In [19]:
relevant_columns = ["year", "month", "WMO-Station ID", "sn_T", "T", "st", "sn_Tn","Tn", "sn_Tx", "Tx"]
sample_raw_file_df = sample_raw_file_df[relevant_columns]
sample_raw_file_df

,year,month,WMO-Station ID,sn_T,T,st,sn_Tn,Tn,sn_Tx,Tx
0,2021,7.0,1001,0.0,69.0,13.0,0.0,52.0,0.0,94.0
1,2021,7.0,1007,0.0,55.0,14.0,0.0,40.0,0.0,67.0
2,2021,7.0,1008,0.0,62.0,14.0,0.0,45.0,0.0,83.0
3,2021,7.0,1025,0.0,117.0,30.0,0.0,94.0,0.0,150.0
4,2021,7.0,1026,0.0,120.0,36.0,0.0,90.0,0.0,159.0
...,...,...,...,...,...,...,...,...,...,...
2774,2021,7.0,98646,0.0,293.0,10.0,0.0,260.0,0.0,326.0
2775,2021,7.0,98653,0.0,291.0,5.0,0.0,239.0,0.0,325.0
2776,2021,7.0,98755,0.0,291.0,16.0,0.0,243.0,0.0,338.0
2777,2021,7.0,98836,0.0,291.0,NaN,0.0,242.0,0.0,340.0
2778,2021,7.0,98851,0.0,266.0,7.0,0.0,222.0,0.0,309.0

In [20]:
sample_raw_file_df.describe()

,month,WMO-Station ID,sn_T,T,st,sn_Tn,Tn,sn_Tx,Tx
count,2779.0,2779.000000,2684.000000,2684.000000,2501.000000,2649.000000,2647.000000,2658.000000,2655.000000
mean,7.0,52951.400864,0.027571,219.991058,24.805678,0.034730,170.676993,0.020692,275.133333
std,0.0,29241.539207,0.178994,73.647759,21.793646,0.233847,74.709411,0.144998,75.611954
min,7.0,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,7.0,26864.000000,0.000000,177.000000,15.000000,0.000000,124.000000,0.000000,234.000000
50%,7.0,60429.000000,0.000000,226.000000,21.000000,0.000000,170.000000,0.000000,285.000000
75%,7.0,76141.000000,0.000000,272.000000,28.000000,0.000000,228.000000,0.000000,322.000000
max,7.0,98851.000000,4.000000,671.000000,335.000000,8.000000,711.000000,2.000000,625.000000

In [21]:
sample_raw_file_df.columns

Index(['year', 'month', 'WMO-Station ID', 'sn_T', 'T', 'st', 'sn_Tn', 'Tn',
       'sn_Tx', 'Tx'],
      dtype='object')

In [22]:
sample_raw_file_df['WMO-Station ID'].nunique()

2779

In [23]:
sample_raw_file_df.dtypes

year               object
month             float64
WMO-Station ID      int64
sn_T              float64
T                 float64
st                float64
sn_Tn             float64
Tn                float64
sn_Tx             float64
Tx                float64
dtype: object

In [24]:
sample_raw_file_df = sample_raw_file_df.astype({'year': int, 'month': int})
sample_raw_file_df.dtypes

year                int64
month               int64
WMO-Station ID      int64
sn_T              float64
T                 float64
st                float64
sn_Tn             float64
Tn                float64
sn_Tx             float64
Tx                float64
dtype: object

## Check data for some places manually

In [25]:
stations_df[stations_df['WMO-Station ID']==1001]

Empty DataFrame
Columns: [WMO-Station ID, StationName, Latitude, Longitude, Height, Country]
Index: []

In [26]:
stations_df[stations_df['Country']=='India']

,WMO-Station ID,StationName,Latitude,Longitude,Height,Country
1520,42027,Srinagar,34.08,74.83,1587.0,India
1521,42034,Leh,34.15,77.57,3513.0,India
1522,42071,Amritsar,31.71,74.80,234.0,India
1523,42099,Ludhiana,30.93,75.87,247.0,India
1524,42131,Hissar,29.17,75.73,210.0,India
1525,42147,Mukteshwar,29.47,79.65,2311.0,India
1526,42165,Bikaner,28.00,73.30,224.0,India
1527,42182,New Delhi/Safdarjung Airp.,28.58,77.20,216.0,India
1528,42260,Agra,27.15,77.97,169.0,India
1529,42261,Agra,27.17,78.03,169.0,India
1530,42295,Darjeeling,27.05,88.26,2134.0,India
1531,42314,Dibrugarh Airp.,27.48,95.02,111.0,India
1532,42339,Jodhpur,26.25,73.05,221.0,India
1533,42348,Jaipur/Sanganer,26.82,75.80,390.0,India
1534,42391,Darbhanga,26.17,85.90,49.0,India
1535,42404,Dhubri,26.02,89.98,35.0,India
1536,42410,Guwahati Airp.,26.10,91.58,54.0,India
1537,42451,Kota,25.18,75.85,256.0,India
1538,42452,Kota,25.16,75.85,279.0,India
1539,42475,Allahabad,25.45,81.73,98.0,India
1540,42492,Patna,25.19,85.09,57.0,India
1541,42515,Cherrapunji,25.25,91.73,1300.0,India
1542,42587,Daltonganj,24.05,84.07,221.0,India
1543,42599,Dumka,24.27,87.25,149.0,India
1544,42619,Silchar,24.82,92.80,21.0,India
1545,42647,Ahmadabad,23.07,72.63,56.0,India
1546,42671,Sagar,23.85,78.75,550.0,India
1547,42731,Dwarka,22.37,69.08,11.0,India
1548,42754,Indore,22.72,75.80,567.0,India
1549,42807,Kolkata (Calcutta),22.53,88.33,6.0,India
1550,42867,Nagpur,21.10,79.05,310.0,India
1551,42909,Veraval,20.90,70.37,12.0,India
1552,42933,Akola,20.70,77.03,282.0,India
1553,42970,Cuttack,20.47,85.93,27.0,India
1554,42971,Bhubaneswar,20.24,85.82,49.0,India
1555,43003,Bombay/Santacruz,19.09,72.87,8.0,India
1556,43041,Jagdalpur,19.08,82.03,554.0,India
1557,43057,Mumbai/Colaba,18.90,72.81,11.0,India
1558,43063,Pune,18.53,73.85,558.0,India
1559,43128,Hyderabad Airp.,17.45,78.47,535.0,India
1560,43149,Vishakhapatnam Airp.,17.72,83.23,3.0,India
1561,43150,Vishakhapatnam,17.68,83.29,70.0,India
1562,43185,Machilipatnam,16.20,81.15,10.0,India
1563,43192,Panjim,15.48,73.82,64.0,India
1564,43197,Belgaum,15.85,74.53,753.0,India
1565,43198,Belgaum Airp.,15.86,74.62,747.0,India
1566,43279,Chennai (Madras) Airp.,13.00,80.18,16.0,India
1567,43283,Mangalore,12.87,74.85,22.0,India
1568,43284,Mangaluru Airp.,12.96,74.89,106.0,India
1569,43295,Bangalore,12.97,77.58,923.0,India
1570,43314,Kozhikode,11.25,75.78,5.0,India
1571,43333,Port Blair,11.67,92.72,79.0,India
1572,43363,Pamban,9.28,79.22,11.0,India
1573,43369,Minicoy/Lakkadiven,8.28,73.05,2.0,India
1574,43371,Thiruvananthapuram,8.48,76.95,64.0,India
3890,89514,Maitri,-70.77,11.73,183.0,India
3927,89776,Bharati,-69.41,76.19,33.0,India

In [27]:
delhi_station_id = 42182
leh_station_id = 42034

In [28]:
sample_raw_file_df[sample_raw_file_df['WMO-Station ID'].isin([delhi_station_id, leh_station_id, 42027])]

,year,month,WMO-Station ID,sn_T,T,st,sn_Tn,Tn,sn_Tx,Tx
1052,2021,7,42027,0.0,247.0,25.0,0.0,195.0,0.0,300.0
1056,2021,7,42182,0.0,314.0,31.0,0.0,264.0,0.0,365.0

In [29]:
sample_raw_file_df['WMO-Station ID'].nunique()

2779

In [30]:
stations_df['WMO-Station ID'].nunique()

4399